@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
    transition: all 1s;
}

#detector {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block; /* Display by default */
}

.offline #detector {
    display: none; /* Hide when offline */
}

span {
    font-size: 2rem;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal
}

.btn,
span {
    margin-top: 150px;
}

.btn,
.btn::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
    font-size: 5rem;
    text-align: center;
}

.btn::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: '404';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    animation: glitch_4011 1.5s infinite;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
}

@keyframes glitch_4011 {
    0% {
        clip-path: var(--move1);
        transform: translate(0px, -10px);
    }

    10% {
        clip-path: var(--move2);
        transform: translate(-10px, 10px);
    }

    20% {
        clip-path: var(--move3);
        transform: translate(10px, 0px);
    }

    30% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    40% {
        clip-path: var(--move5);
        transform: translate(10px, -10px);
    }

    50% {
        clip-path: var(--move6);
        transform: translate(-10px, 10px);
    }

    60% {
        clip-path: var(--move1);
        transform: translate(10px, -10px);
    }

    70% {
        clip-path: var(--move3);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--move2);
        transform: translate(10px, -10px);
    }

    90% {
        clip-path: var(--move4);
        transform: translate(-10px, 10px);
    }

    100% {
        clip-path: var(--move1);
        transform: translate(0);
    }
}


/* refresh button css  */
.button {
    color: white;
    background-color: #222;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }
  
  .button:hover {
    background-color: #333;
  }
  
  .button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
  }
  
  .focus svg {
    animation: spin_357 0.5s linear;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  